# Ignore node modules for all subprojects
node_modules/

# Build output
build/
dist/

# Flutter app in frontend/
frontend/.dart_tool/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/.pub-cache/
frontend/.pub/
frontend/build/
frontend/**/doc/api/
frontend/**/ios/Flutter/.last_build_id
frontend/app.*.symbols
frontend/app.*.map.json
frontend/android/app/debug
frontend/android/app/profile
frontend/android/app/release

# Environment files
.env
env.example

# System files
.DS_Store

# Log files
npm-debug.log
yarn-debug.log
yarn-error.log

# Documentation
/docs/